header {
    z-index: 99;
    overflow: hidden;
}
.main-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}
.main-menu nav {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.main-menu nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: #0b0c11;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    font-weight: bold;
    height: 100%;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 40px;
    height: 100%;
    font-family: "spartan";
}
.main-menu .app-logo {
    width: 15%;
    padding: 15px 10px 15px 0;
    box-sizing: border-box;
}
.main-menu .app-logo a {
    display: inline-block;
}
header .main-menu nav a:first-child {
    padding-left: 0;
}
.mobile-menu {
    width: 85%;
    text-align: right;
}
.mobile-menu nav{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 999;
    background: #fff;
}
.mobile-menu nav a {
    width: 100%;
    height: auto;
    text-align: center;
}
header .mobile-menu nav a:first-child {
    padding: 10px 20px;
}
.mobile-menu > button {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
}
.mobile-menu > button:focus {
    outline: none;
}
footer .main-menu.container{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
}
footer .main-menu .app-logo {
    width: auto;
}