blockquote {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    color: #333;
}
blockquote cite {
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2.5px;
    font-family: "spartan-extra";
    padding: 15px 0;
}
blockquote .content {
    font-size: 24px;
    font-family: "Playfair Display";
}